@use 'sass:color';

.slide {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.4s ease-in-out;
}

.nav.open .slide {
    max-height: 500px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 1em 0;

    @media (max-width: 767px) {
        flex-direction: column;
        padding-bottom: 1em;
    }
}

.nav-item {
    padding: 0 1em;

    @media (max-width: 767px) {
        padding: 0.5em 0;
        text-align: center;
    }
}

.nav-link,
.nav-toggle {
    color: $nav-color1;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-link:hover,
.nav-toggle:hover {
    color: $nav-color2;
    background-color: color.adjust($nav-color2, $lightness: 35%);
    font-weight: bold;
    border-radius: 4px;
}

.nav-toggle {
    display: none;

    @media (max-width: 767px) {
        display: block;
        float: right;
        width: 2.5em;
        height: 2.5em;
        margin: 0.5em 1em;
        font-size: 1.5rem;
        line-height: 2.5em;
        text-align: center;
        cursor: pointer;
        background: none;
        border: 0;

        &:focus {
            outline: 2px solid $nav-color2;
        }
    }
}
