@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';

@import 'blockquotes';
@import 'code';
@import 'mobile-nav';
@import 'technology';
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300&family=Playfair+Display:wght@500&display=swap');

* {
    font-family: 'Noto Sans Georgian', sans-serif;
    color: #fff; /* Set text color to white */
    box-sizing: border-box;
    border: 0 none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    color: #fff; /* Set text color to white */
}

.logofunka {
    height: 100px;
}

.main {
    text-align: center;
    background-color: #333;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #333; /* Dark background color */
}

nav {
    color: #ffffff;
}

p {
    max-width: 80%;
    margin: 0 auto;
    color: #fff; /* Set text color to white */
}

.footer {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #222;
    background-color: #444; /* Darker background color for footer */
}

.header, .site-header {
    display: flex;
    justify-content: space-between;
}

.header {
    background-color: #444; /* Darker background color for header */
}

.header, .footer {
    flex: 0 0 auto;
}

.colorTable{
    border-spacing: 4px; 
    border-collapse: separate 
}