@use 'sass:color';

// FontAwesome
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/fontawesome';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

// Normalize & Dark Theme Variables
@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';

// Komponenter
@import 'blockquotes';
@import 'code';
@import 'mobile-nav';
@import 'technology';
@import 'gallery';
@import 'excel';

// Typsnitt
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@300&family=Playfair+Display:wght@500&display=swap');

// Basregler
* {
    font-family: $font-body;
    color: $font-color;
    box-sizing: border-box;
    border: 0;
    padding: 0;
}

.nav ul li a {
    color: $nav-color1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    color: $font-color;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $background-color;
}

.main {
    text-align: center;
    flex: 1 0 auto;
    background-color: $background-color;
}

p {
    max-width: 80%;
    margin: 0 auto;
    color: $font-color;

    @media (max-width: 767px) {
        max-width: 100%;
        padding: 0 10px;
    }
}

.header,
.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $background-alternative-color;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.footer {
    margin-top: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid color.adjust($background-color, $lightness: -20%);
    background-color: $background-alternative-color;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.logofunka {
    height: 100px;
    object-fit: contain;
}

.color-table {
    border-spacing: 4px;
    border-collapse: separate;
    margin: auto;
}

// Tillgänglighet & interaktivitet
a:focus, .nav-toggle:focus {
    outline: 2px solid $accent-color;
    outline-offset: 2px;
}
