$font-color: #000;
$font-alternative-color: #fff;
$accent-color: rgb(233, 236, 188);
$background-color: rgb(102, 156, 115);
$background-alternative-color: rgb(231, 224, 150);
$code-background: #231e1e;
$nav-color1: #ffffff;
$nav-color2: #e286b4;
$background-color-technology: rgb(86, 47, 90);
$color-underline: rgb(255, 255, 255);
$tech-menu-color: #242a30;
$tech-menu-background: rgb(130, 78, 119);
