$font-color: #000;
$font-alternative-color: #fff;
$accent-color: rgb(233, 236, 188);
$background-color: rgb(102, 156, 115);
$background-alternative-color: rgb(231, 224, 150);
$code-background:  #f5f5f5;
$nav-color1:  #333;
$nav-color2: #e75ea2;
$background-color-technology: rgb(241, 152, 29);
$color-underline: rgb(0, 0, 0);
$tech-menu-color:  rgb(168, 191, 229);
$tech-menu-background: rgb(218, 227, 170);
