$font-color: #222;
$font-alternative-color: #fff;

$accent-color: #F9C6D3;
$background-color: #FFF4F8;
$background-alternative-color: #E8F0FA;
$code-background: #f0f0f0;

$nav-color1: #2C2C2C;
$nav-color2: #E488AC;

$background-color-technology: #E8F0FA;
$color-underline: #4A4A4A;
$tech-menu-color: #F3D7E5;

$tech-menu-background: #E488AC;

$font-body: 'Noto Sans Georgian', sans-serif;
$font-heading: 'Playfair Display', serif;
